# ---------------------------------
# Python / FastAPI
# ---------------------------------
# 仮想環境
.venv/
venv/

# Pythonキャッシュ
__pycache__/
*.pyc

# Pytestキャッシュ
.pytest_cache/

# ---------------------------------
# React / Node.js
# ---------------------------------
# パッケージ
node_modules/

# 本番ビルド
build/

# ログファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------------------
# OS / Editor
# ---------------------------------
# macOS
.DS_Store

# VSCode
.vscode/